.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.login-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.btn{
    background-color: #2a9d8f;
    color: black;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: #ecb859;
    color: black;
}

.signup-text{
    color: white;
    text-decoration: none;
}

.signup-text :hover{
    text-decoration: underline;
}

.back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    padding: 6px 12px;
  }