/*
.signup-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  background: rgba(255, 255, 255, 0.1); 
  margin-top: 70px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.btn {
  background-color: #2a9d8f;
  color: black;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #ecb859;
  color: black;
}

a {
  color: white;
} */


/* Hide Navbar on Signup Page */
.hide-navbar nav {
  display: none;
}

/* Full Page Layout */
.signup-page {
  display: flex;
  height: 100vh;
  background-color: white;
}

/* Left Side: Signup Form */
.signup-form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* Signup Form Container */
.form-container {
  width: 80%;
  max-width: 400px;
  padding: 2rem;
}

.btn {
  background-color: #2a9d8f;
  color: black;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #ecb859;
  color: black;
}

.bg-video {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.back-to-home {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
  padding: 6px 12px;
}

/* .back-to-home {
  font-size: 14px;
  padding: 6px 12px;
} */

