.hide-navbar nav {
  display: none;
}

.signup-page {
  display: flex;
  height: 80vh;
  background-color: white;
}

.signup-form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-container {
  position: relative;
  top: 80px;
  width: 80%;
  max-width: 400px;
  padding: 2rem;
}

.btn {
  background-color: #2a9d8f;
  color: black;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #ecb859;
  color: black;
}

.bg-video {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.back-to-home {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
  padding: 6px 12px;
}

.links{
  color: #2a9d8f;
  text-decoration: none;
  transform: background 0.3s ease-in-out;
}

.links:hover{
  text-decoration: underline;
  color: #1f746a;
} 

.input-style ::placeholder {
  color: rgb(162, 162, 162);
}

.input-style{
  border: 1px solid rgb(221, 221, 221);
  transform: background 0.3s ease-in-out;
}

.input-style:hover{
  border: 1px solid #2a9d8f;
}


