html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: "Inter", "Roboto", -apple-system, BlinkMacSystemFont, 
                 "SF Pro Text", "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

